<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
	<key>Label</key>
	<string>com.amazon.ec2.monitoring.agents.cpuutilization</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/libexec/send-cpu-utilization</string>
	</array>
	<key>StartInterval</key>
	<integer>59</integer>
	<key>StandardErrorPath</key>
	<string>/var/log/amazon/ec2/system-monitoring.log</string>
	<key>StandardOutPath</key>
	<string>/var/log/amazon/ec2/system-monitoring.log</string>
</dict>
</plist>
